{% load static %}

<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap_5.0.2.min.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

    {% block head %}{% endblock %}

</head>

<body class="bg-dark text-warning">
    <nav class="navbar bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <i class="fa-solid fa-dice fa-2xl"></i>  
                <a class="nav-link text-warning" href="/admin">Admin</a>
            </a>
        </div>
    </nav>
    <hr>

    {% block content %}
    {% endblock %}
</body>

</html>